In [1]:
import pandas as pd

In [2]:
w_a_con = pd.read_csv('World_Alcohol.csv')

In [9]:
#Q8
w_a_con[(w_a_con['Year']==1985) & (w_a_con['WHO region']== 'Americas')].head(10)

    Year WHO region                Country Beverage Types  Display Value
35  1985   Americas  Saint Kitts and Nevis        Spirits           2.24

In [13]:
#Q9
w_a_con[(w_a_con['Year']==1986) & (w_a_con['WHO region']== 'Western Pacific') & (w_a_con['Country']=='Viet Nam')].head()

   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0

In [16]:
#Q10
w_a_con[(w_a_con['Year']==1986) | (w_a_con['Year']==1989) & (w_a_con['WHO region']== 'Americas')].head(10)

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
3,1986,Americas,Colombia,Beer,4.27
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
20,1986,South-East Asia,Myanmar,Wine,0.00
21,1989,Americas,Costa Rica,Spirits,4.51
29,1986,Europe,Italy,Other,NaN
30,1986,Africa,Sierra Leone,Other,4.48
31,1986,Western Pacific,Micronesia (Federated States of),Wine,0.00

In [18]:
#Q11
w_a_con[((w_a_con['Year']==1986) | (w_a_con['Year']==1989)) & ((w_a_con['WHO region']== 'Americas') | (w_a_con['WHO region']== 'Europe'))].head(10)

    Year WHO region              Country Beverage Types  Display Value
1   1986   Americas              Uruguay          Other           0.50
3   1986   Americas             Colombia           Beer           4.27
8   1986   Americas  Antigua and Barbuda        Spirits           1.55
11  1989   Americas            Guatemala           Beer           0.62
21  1989   Americas           Costa Rica        Spirits           4.51
29  1986     Europe                Italy          Other            NaN
34  1986     Europe   Russian Federation           Wine           0.80
37  1986     Europe               Sweden           Beer           3.04
41  1986     Europe       Czech Republic           Beer           6.82
47  1986   Americas               Mexico          Other           0.04

In [21]:
#Q12
w_a_con[((w_a_con['Year']==1986) | (w_a_con['Year']==1989)) & ((w_a_con['WHO region']== 'Americas') | (w_a_con['WHO region']== 'Europe'))][['WHO region','Country','Beverage Types']].head(10)

   WHO region              Country Beverage Types
1    Americas              Uruguay          Other
3    Americas             Colombia           Beer
8    Americas  Antigua and Barbuda        Spirits
11   Americas            Guatemala           Beer
21   Americas           Costa Rica        Spirits
29     Europe                Italy          Other
34     Europe   Russian Federation           Wine
37     Europe               Sweden           Beer
41     Europe       Czech Republic           Beer
47   Americas               Mexico          Other

In [22]:
#Q13
w_a_con[(w_a_con['Display Value']>=5) & (w_a_con['Beverage Types']=='Beer')].head(10)

    Year WHO region         Country Beverage Types  Display Value
41  1986     Europe  Czech Republic           Beer           6.82

In [25]:
#Q14
w_a_con[(w_a_con['Display Value']>=4) & ((w_a_con['Beverage Types']=='Beer')|(w_a_con['Beverage Types']=='Wine')|(w_a_con['Beverage Types']=='Spirits'))].head(10)

    Year WHO region         Country Beverage Types  Display Value
3   1986   Americas        Colombia           Beer           4.27
21  1989   Americas      Costa Rica        Spirits           4.51
41  1986     Europe  Czech Republic           Beer           6.82
57  1989     Europe         Croatia           Wine           5.10
91  1989     Europe        Bulgaria           Beer           4.43
96  1985     Europe      Luxembourg           Wine           7.38

In [26]:
#Q15
w_a_con.loc[0:4, ["WHO region", "Beverage Types"]]

        WHO region Beverage Types
0  Western Pacific           Wine
1         Americas          Other
2           Africa           Wine
3         Americas           Beer
4         Americas           Beer

In [29]:
#Q16
w_a_con[w_a_con["WHO region"].str.contains("Ea")]

,Year,WHO region,Country,Beverage Types,Display Value
13,1984,Eastern Mediterranean,Afghanistan,Other,0.00
20,1986,South-East Asia,Myanmar,Wine,0.00
25,1984,Eastern Mediterranean,Tunisia,Other,0.00
27,1984,Eastern Mediterranean,Bahrain,Beer,2.22
36,1987,Eastern Mediterranean,Egypt,Beer,0.07
38,1987,Eastern Mediterranean,Qatar,Other,0.00
52,1986,Eastern Mediterranean,Saudi Arabia,Wine,0.00
53,1984,Eastern Mediterranean,Kuwait,Beer,0.00
58,1984,Eastern Mediterranean,Somalia,Spirits,0.00
59,1989,Eastern Mediterranean,Syrian Arab Republic,Other,0.00
60,1987,Eastern Mediterranean,Iran (Islamic Republic of),Other,0.00
63,1985,Eastern Mediterranean,Libya,Other,0.00
65,1989,Eastern Mediterranean,Somalia,Beer,0.00
66,1987,Eastern Mediterranean,Iraq,Wine,0.01
73,1986,Eastern Mediterranean,Pakistan,Other,0.01
75,1989,Eastern Mediterranean,Afghanistan,Other,0.00
84,1986,South-East Asia,Sri Lanka,Other,0.00
87,1989,Eastern Mediterranean,Iraq,Wine,0.01
88,1987,Eastern Mediterranean,Lebanon,Beer,0.42
89,1986,Eastern Mediterranean,Lebanon,Wine,0.70
97,1984,South-East Asia,Indonesia,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00